<script setup>
import Calculator from '../components/Calculator.vue'
</script>

<template>
  <main>
    <Calculator />
    <RouterLink to="/Contact-form">Contact us</RouterLink>
    <RouterLink to="/">Back to login</RouterLink>

  </main>
</template>

<style scoped>
  Calculator{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }
</style>

