<script setup>
  import Form from "../components/Form.vue"
</script>
<template>
  <div class="about">
    <h1>This is a contact form</h1>
    <Form/>
    <RouterLink to="/Calulator">Back to calculator</RouterLink>
  </div>
</template>

<style>
</style>
