<script setup>
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import { checkUser } from "../utils/Api.js"
import { createUser } from "../utils/Api.js"
import { useTokenStore } from "../stores/TokenStore.js";



const route = useRouter()
const name = ref('')
const password = ref('')
const store = useTokenStore()


async function login(){
  //todo check response from server
  let response = await checkUser(name.value,password.value);
  if(response.data['token']){
    store.saveToken(response.data['token'])
    await route.push("/Calculator")
  }else {
    alert("You were not able to log in")
  }
}
async function signIn(){
  //todo check response from server
  let response = await createUser(name.value,password.value);
  if(response.data['token']){
    store.saveToken(response.data['token'])
    console.log(store.jwtToken)
    await route.push("/Calculator")
  }else {
    alert("You were not able to sign in")
  }
}


</script>
<template>
  <main>
    <form @submit.prevent="">
      <div>
        <label for="name">Enter your name </label>
        <input type="text" name="name" id="name" v-model="name"/>
      </div>
      <div>
        <label for="password">Enter your password </label>
        <input type="password" name="password" id="password" v-model="password"/>
      </div>
      <div class="form-example">
        <input type="submit" value="Log-in"  @click="login()" />
        <input type="submit" value="Sign-in"  @click="signIn()"/>
      </div>
    </form>
  </main>
</template>
<style>

</style>