<script setup>
import { ref, onBeforeMount } from 'vue'
import {sendExpression, retrieveExpressions} from "../utils/Api.js"
import { useTokenStore } from "../stores/TokenStore.js";

const equation = ref("");
const results = ref([]);
const allowed = ref(true);
const pages = ref([]);
const currentPage = ref(0);
const token = useTokenStore().jwtToken;
let listId = 0;

onBeforeMount(async () => {
  if(!token){
    console.log("Unauthenticated context");
  } else{
    await getExpressions(0);
  }
})


async function getExpressions(pageNumber){
  let response = await retrieveExpressions(pageNumber,token);
  let list = response.data['content'];
  for (let i = 0; i < list.length; i++) {
    list[i] = list[i]['expression']+" = "+list[i]['answer'];
  }
  results.value = list;
  let amtPages = response.data['totalPages'];
  currentPage.value = response.data.pageable.pageNumber;
  for (let i = 0; i < amtPages; i++) {
    pages.value[i] = {id:listId++, page:i}
  }
  console.log(pages)
}
function append(c) {
  allowed.value = true;
  equation.value = equation.value.concat(c);
}
function clear(){
  allowed.value = true;
  equation.value = "";
}
function remove(){
  allowed.value = true;
  equation.value = equation.value.slice(0,-1);
}
async function equal(){
  let response = await sendExpression(equation.value,token);
  let answer = response.data['answer'];
  if(answer !== "nan"){
    let result = equation.value.concat(" = " + answer);
    results.value.push(result);
    equation.value = "";
    await getExpressions(currentPage.value)
  }else{
    allowed.value = false;
  }
}

function validateInput(event){
  allowed.value = true;
  let inputValue = event.target.value;
  inputValue = inputValue.replace(/[^0-9+%*/. ]/g, "");
  equation.value = inputValue;
}
</script>

<template>
  <div id="container" v-if="token">
    <section class="calculator">
      <div id="info">
        <h2>Calculator</h2>
        <p>this is a simple calculator, don't try to misuse it or santa will know....</p>

      </div>
      <input v-model="equation" @input="validateInput" @keydown.enter="equal"/>
      <button @click="clear()">AC</button>
      <button @click="remove()">DEL</button>
      <button @click="append('%')">mod</button>
      <button @click="append('/')" class="fin">/</button>

      <button @click="append('7')">7</button>
      <button @click="append('8')">8</button>
      <button @click="append('9')">9</button>
      <button @click="append('*')" class="fin">x</button>

      <button @click="append('4')">4</button>
      <button @click="append('5')">5</button>
      <button @click="append('6')">6</button>
      <button @click="append('-')" class="fin">-</button>

      <button @click="append('1')">1</button>
      <button @click="append('2')">2</button>
      <button @click="append('3')">3</button>
      <button @click="append('+')" class="fin">+</button>

      <button @click="append('0')" id="zero">0</button>
      <button @click="append('.')">.</button>
      <button @click="equal()" class="fin" id="equal">=</button>

    </section>

    <section class="log">
      <h2>Log</h2>
      <ul id="log-list">
        <li v-for="result in results">{{result}}</li>
      </ul>
      <ul id="pages">
        <li v-for="page in pages" :key="page.id">
          <button @click="getExpressions(page.page)" >{{page.page}}</button>
        </li>
      </ul>
      <div class="alert" v-if="!allowed">
        This equation is not allowed
      </div>


    </section>
  </div>
  <div v-else>
    <h2>Unauthorized!!!</h2>
  </div>
</template>

<style scoped>
#container{
  font-family: "Arial", sans-serif;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
}
.calculator{
  grid-column: 1/2;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(50px, auto);
  gap: 5px;
}
#pages{
  display: flex;
  justify-content: center;
}
#info{
  grid-column: 1/5;
  text-align: center;
}
#zero{
  grid-column: 1/3;
}
img {
  width:100%;
  border-radius: 5px;

}
input{
  grid-column: 1/5;
  font-size: 100%;
  text-align: center;
  border-radius: 5px;
  background-color: #333;
  color: white;

}
.log{
  text-align: center;
  margin-left: 5px;
  border-radius: 5px;
}
ul{
  text-align: left;
  list-style: none;
}
button{
  outline: none;
  background-color: #F2F2F2;
  border-radius: 5px;
}
button:hover{
  background-color: yellow;
}
.fin{
  background-color: orange;
  color: white;
}
.alert {
  padding: 20px;
  background-color: orange;
  color: white;
  margin-bottom: 15px;
  border-radius: 5px;
}
@media only screen and (max-width: 600px) {
  #container{
    display: grid;
    grid-template-columns: 1fr;
  }
  .calculator{
    grid-column: 1;
  }
  .log{
    grid-column: 1;
    margin-left:0;
    margin-top: 4px;
  }

}
</style>