<script setup>
import { ref, watch } from 'vue'
import { useFormStore } from "../stores/FormInfo.js";
import {storeUser} from "../utils/Api.js"

const isValid = ref(false);
const formStore = useFormStore();
const name = ref(formStore.name);
const email = ref(formStore.email);
const message = ref("");
  async function submit(){
    formStore.saveUserInStore(name.value,email.value);
    let status = await storeUser(name.value,email.value,message.value);
    alert("Your form has been submitted "+status.status);
  }
  function validEmail(email) {
      let re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
  }

  watch(name, (newName) => {
    isValid.value = newName&&email.value&&message.value;
  });
  watch(message, (newMessage) => {
    isValid.value = newMessage&&email.value&&name.value;
  });
  watch(email, (newEmail) => {
    isValid.value = validEmail(newEmail)&&name.value&&message.value;
  });

</script>

<template>
  <form @submit.prevent="submit">
    <div>
      <label for="name">Enter your name </label>
      <input type="text" name="name" id="name" v-model="name"/>
    </div>
    <div>
      <label for="email">Enter your email </label>
      <input type="email" name="email" id="email" v-model="email"/>
    </div>
    <div>
      <label for="message">Enter your message </label>
      <textarea id="message" name="message" v-model="message"></textarea>
    </div>
    <div class="form-example">
      <input type="submit" value="Send message" :disabled="!isValid" />
    </div>
  </form>
</template>

<style scoped>
textarea{
  resize: vertical;
}
label {
  text-align:left;
  margin-bottom:5px;
  display: block;
  font-weight: bold;
  font-size: 0.9rem;
}

input[type="text"], input[type="email"], textarea {
  border: 1px solid #ccc;
  font-size: 1rem;
  padding: 6px 10px;
  border-radius: 4px;
  width: 100%;
  margin-bottom:5px;

}
body { display: block }

input[type="submit"] {
  background-color: hsla(160, 100%, 37%, 1);
  color: white;
  font-size: 0.8rem;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: 500;
}


</style>